PORT=5001
NVIDIA_API_KEY=your_nvidia_api_key_here
GOOGLE_CLIENT_SECRET_PATH=path_to_your_google_client_secret.json
TOKEN_PATH=server/token.json
RESUME_PATH=server/resume.json
LOGS_PATH=server/logs.json
